a.button {
    
    background-color: #000;
    color: #fff;
    height: 50px; 
    text-decoration: none; 
    padding: 19px;
    margin: 15px; 
    border-radius: 10px; 
}
a.button:hover{
    background-color: transparent;
    border: 1px solid #000; 
    color: #000;
}
.button {
    width: 250px; 
}
.page-number {
    clear: both; 
}